:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}
/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*scroll*/
.nav-principal, .servicios, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

body{
    font-size: 16px; /* 1 rem es igual a 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    width: 90%;
    border-radius: .5rem;
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.sombra{
    -webkit-caja-sombra: 0px 15px 5px 0px rgba(112,112,112,0.54);
    -moz-caja-sombra: 0px 15px 5px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 15px 5px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/*tipografías*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}
/*Utilidades*/
.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    w-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
/*navegación principal*/
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav-bg{
    background-color: var(--secundario);
}
.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/*hero*/
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
/*Servicios*/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2;
}
.iconos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
/*formulario*/
@media (min-width: 768px) {
    .campos-formulario{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3;
    }
}
.formulario{
    width: min(60rem, 100%);/*utilizar el valor más pequeño*/
    background-color: var(--gris);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primario);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.campo label{
    display: block;
    font-weight: bold;
    color: var(--blanco);
    margin-bottom: .5rem;
}
.input-text{
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    border: none;
}
.campo textarea{
    height: 18rem;
}